<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>

    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
    <script src="/lib/handlebars.js"></script>

  </head>

  <body>
    <h1 onclick="location.href='/';">Shortly</h1>
    <input type='button' onclick="location.href='/signup';" class='signup' value='Sign up!'/>
    <input type='button' onclick="location.href='/login';" class='login' value='Login'/>
    <input type='button' onclick="location.href='/logout';" class='logout' value='Logout'/>
    <%- body %>
  </body>
</html>
